<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cricbuzz</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"
    />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
      charset="utf-8"
    ></script>
  </head>
  <body>
    <input type="checkbox" id="check" />
    <!--header area start-->
    <header>
      <label for="check">
        <i class="fas fa-bars" id="sidebar_btn"></i>
      </label>
      <div class="left_area">
        <h3>Cric <span>Buzz</span></h3>
      </div>
    </header>
    <!--header area end-->

    <!--mobile navigation bar start-->
    <div class="mobile_nav">
      <div class="nav_bar">
        <img
          src="https://www.freevector.com/uploads/vector/preview/30676/Cool_Cricket_Logo_1.jpg"
          class="mobile_profile_image"
          alt=""
        />
        <i class="fa fa-bars nav_btn"></i>
      </div>
      <div class="mobile_nav_items">
        <a href="#"
          ><i class="fas fa-star-of-life"></i><span>Live Scores</span></a
        >
        <a href="#"><i class="far fa-newspaper"></i><span>Latest News</span></a>
        <a href="#"><i class="fas fa-book"></i><span>Schedule</span></a>
      </div>
    </div>
    <!--mobile navigation bar end-->

    <!--sidebar start-->
    <div class="sidebar">
      <div class="profile_info">
        <img
          src="https://www.freevector.com/uploads/vector/preview/30676/Cool_Cricket_Logo_1.jpg"
          alt=""
          class="profile_image"
        />
        <h4>CricBuzz</h4>
      </div>
      <a (click)="home()"><i class="fas fa-home"></i><span>Home</span></a>
      <a (click)="getLiveScore()"
        ><i class="fas fa-star-of-life"></i><span>Live Scores</span></a
      >
      <a (click)="getNews()"
        ><i class="far fa-newspaper"></i><span>Latest News</span></a
      >
      <a (click)="getSchedule()"
        ><i class="fas fa-book"></i><span>Schedule</span></a
      >
    </div>
    <!--sidebar end-->

    <div class="content bg">
      <div *ngIf="schedule.length > 0 && sched">
        <h1>Match Schedule</h1>
        <div *ngFor="let item of schedule" class="schedule">
          <h3>{{ item }}</h3>
        </div>
      </div>

      <div *ngIf="news.length > 0 && latestnews">
        <h1>Latest News</h1>
        <div *ngFor="let newsItem of news" class="schedule">
          <h3>{{ newsItem.mainHeader }}</h3>
          <h4>{{ newsItem.content1 }}</h4>
          <h5>{{ newsItem.days }}</h5>
        </div>
      </div>

      <div *ngIf="score.length > 0 && live">
        <h1>Live Scores</h1>
        <div *ngFor="let scoreItem of score" class="schedule">
          <h3>{{ scoreItem }}</h3>
        </div>
      </div>
      <div *ngIf="score.length <= 0 && live" class="center">
        <h1>No Live Matches</h1>
      </div>
    </div>

    <script type="text/javascript">
      $(document).ready(function () {
        $(".nav_btn").click(function () {
          $(".mobile_nav_items").toggleClass("active");
        });
      });
    </script>
  </body>
</html>
